/* --------------------------------

Projects Slider

-------------------------------- */
.cd-projects-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.cd-slider {
    height: 100%;
    /* smooth scrolling on iOS */
    webkit-overflow-scrolling: touch;
    list-style: none;
    padding: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-slider li {
    position: relative;
    float: left;
    width: 26vw;
    margin: 0 0 0 2vw;
    top: 50%;
    -webkit-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -moz-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -ms-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -o-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
    -moz-transition: opacity 0s 0.3s, -moz-transform 0s 0.3s;
    transition: opacity 0s 0.3s, transform 0s 0.3s;
    opacity: 0;
    border-radius: .25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-slider li.slides-in {
    -webkit-transition: opacity 0s 0s;
    -moz-transition: opacity 0s 0s;
    transition: opacity 0s 0s;
    opacity: 1;
    -webkit-animation: cd-translate 0.5s;
    -moz-animation: cd-translate 0.5s;
    animation: cd-translate 0.5s;
}

.cd-slider a {
    display: block;
    height: 100%;
    width: 100%;
}

.cd-slider .project-info {
    padding: 1em 1.6em;
    background-color: #ebebeb;
    border-radius: 0 0 .25em .25em;
}

.cd-slider h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.cd-slider p {
    font-size: 1.4rem;
    opacity: .6;
    padding: .4em 0;
    /* truncate text with ellipsis if too long */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cd-slider h2, .cd-slider p {
    line-height: 1.2;
    color: #0f1926;
}

.cd-slider::after {
    clear: both;
    content: "";
    display: table;
}

.cd-slider li:first-of-type {
    margin-left: 9vw;
}

.cd-slider li.slides-in {
    /* this class is used to trigger the entrance animation */
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-slider li.slides-in:first-of-type {
    /* change transition duration/delay for the entrance animation */
    -webkit-transition: -webkit-transform 0.55s 0s;
    -moz-transition: -moz-transform 0.55s 0s;
    transition: transform 0.55s 0s;
}

.cd-slider li.slides-in:nth-of-type(2) {
    -webkit-transition: -webkit-transform 0.53s 0.05s;
    -moz-transition: -moz-transform 0.53s 0.05s;
    transition: transform 0.53s 0.05s;
}

.cd-slider li.slides-in:nth-of-type(3) {
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    -moz-transition: -moz-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
}

.cd-slider li.slides-in:nth-of-type(4) {
    -webkit-transition: -webkit-transform 0.48s 0.15s;
    -moz-transition: -moz-transform 0.48s 0.15s;
    transition: transform 0.48s 0.15s;
}

.cd-slider.next li.current {
    /* next slide animation */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
}

.cd-slider.next li.current + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
}

.cd-slider.next li.current + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
}

.cd-slider.next li.current + li + li + li + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
}

.cd-slider.next li.current + li + li + li + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
}

.cd-slider.next li.current + li + li + li + li + li ~ li {
    -webkit-animation: cd-slide-6 0.5s;
    -moz-animation: cd-slide-6 0.5s;
    animation: cd-slide-6 0.5s;
}

.cd-slider.prev li {
    /* previous slide animation */
    -webkit-animation: cd-slide-7 0.5s;
    -moz-animation: cd-slide-7 0.5s;
    animation: cd-slide-7 0.5s;
}

.cd-slider.prev li.previous {
    /* previous slide animation - the previous class is used to target the slide which was visible right before the current one */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
}

.cd-slider.prev li.previous + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
}

.cd-slider.prev li.previous + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
}

.cd-slider.prev li.current + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
}

.cd-slider.prev li.current + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
}

.cd-slider.prev li.current, .cd-slider.prev li.current + li + li ~ li {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

@-webkit-keyframes cd-slide-1 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-85%);
    }
}

@-moz-keyframes cd-slide-1 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(-85%);
    }
}

@keyframes cd-slide-1 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-85%);
        -moz-transform: translateY(-50%) translateX(-85%);
        -ms-transform: translateY(-50%) translateX(-85%);
        -o-transform: translateY(-50%) translateX(-85%);
        transform: translateY(-50%) translateX(-85%);
    }
}

@-webkit-keyframes cd-slide-2 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-55%);
    }
}

@-moz-keyframes cd-slide-2 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(-55%);
    }
}

@keyframes cd-slide-2 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-55%);
        -moz-transform: translateY(-50%) translateX(-55%);
        -ms-transform: translateY(-50%) translateX(-55%);
        -o-transform: translateY(-50%) translateX(-55%);
        transform: translateY(-50%) translateX(-55%);
    }
}

@-webkit-keyframes cd-slide-3 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-23%);
    }
}

@-moz-keyframes cd-slide-3 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(-23%);
    }
}

@keyframes cd-slide-3 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-23%);
        -moz-transform: translateY(-50%) translateX(-23%);
        -ms-transform: translateY(-50%) translateX(-23%);
        -o-transform: translateY(-50%) translateX(-23%);
        transform: translateY(-50%) translateX(-23%);
    }
}

@-webkit-keyframes cd-slide-4 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(23%);
    }
}

@-moz-keyframes cd-slide-4 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(23%);
    }
}

@keyframes cd-slide-4 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(23%);
        -moz-transform: translateY(-50%) translateX(23%);
        -ms-transform: translateY(-50%) translateX(23%);
        -o-transform: translateY(-50%) translateX(23%);
        transform: translateY(-50%) translateX(23%);
    }
}

@-webkit-keyframes cd-slide-5 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(55%);
    }
}

@-moz-keyframes cd-slide-5 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(55%);
    }
}

@keyframes cd-slide-5 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(55%);
        -moz-transform: translateY(-50%) translateX(55%);
        -ms-transform: translateY(-50%) translateX(55%);
        -o-transform: translateY(-50%) translateX(55%);
        transform: translateY(-50%) translateX(55%);
    }
}

@-webkit-keyframes cd-slide-6 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(65%);
    }
}

@-moz-keyframes cd-slide-6 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(65%);
    }
}

@keyframes cd-slide-6 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(65%);
        -moz-transform: translateY(-50%) translateX(65%);
        -ms-transform: translateY(-50%) translateX(65%);
        -o-transform: translateY(-50%) translateX(65%);
        transform: translateY(-50%) translateX(65%);
    }
}

@-webkit-keyframes cd-slide-7 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-95%);
    }
}

@-moz-keyframes cd-slide-7 {
    0%, 100% {
        -moz-transform: translateY(-50%);
    }
    50% {
        -moz-transform: translateY(-50%) translateX(-95%);
    }
}

@keyframes cd-slide-7 {
    0%, 100% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translateY(-50%) translateX(-95%);
        -moz-transform: translateY(-50%) translateX(-95%);
        -ms-transform: translateY(-50%) translateX(-95%);
        -o-transform: translateY(-50%) translateX(-95%);
        transform: translateY(-50%) translateX(-95%);
    }
}

/* --------------------------------

Project slider navigation

-------------------------------- */
.cd-slider-navigation {
    display: block;
    list-style: none;
}

.cd-slider-navigation a {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 60px;
    width: 4%;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

.cd-slider-navigation .next {
    right: 0;
    left: auto;
}

.cd-slider-navigation .inactive {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

/* --------------------------------

Keyframes

-------------------------------- */
@-webkit-keyframes cd-translate {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes cd-translate {
    0% {
        opacity: 0;
        -moz-transform: translateY(100px);
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cd-translate {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}