.eventful-badge {
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-align: center;
    color: #CCC;
    font-family: Arial;
    text-decoration: none;
    display: block;
}

.eventful-small {
    max-width: 150px;
    font-size: 11px;
    line-height: 11px;
}

.event-description {
    padding: 0 20px;
    white-space: normal;
}

.card-image {
    height: 200px;
    background-color: grey;
}