.primary-color {
    background-color: #5c6bc0 !important;
    border: none !important;
}

.login-form {
    padding: 64px 20px;
    background-color: white;
    max-width: 460px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
