.dashboard-masthead.segment {
    min-height: 200px;
    padding: 0.5em 0;
}

.filter-menu {
    margin: 0;
}

.tile {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 20px;
}