.eventful-badge {
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-align: center;
    color: #CCC;
    font-family: Arial;
    text-decoration: none;
    display: block;
}

.eventful-small {
    width: 150px;
    font-size: 11px;
    line-height: 11px;
}

.event-description {
    width: 290px;
    height: 290px;
    padding: 20px;
    white-space: normal;
}

.event-grid-image {
    width: 290px;
    height: 290px;
}